p{
    color: aqua;
    background: darkslategray;
    text-align: center;
    text-transform: capitalize;
}
header{
    background: darkolivegreen;
}
  img { width: 100%; height: 100%; object-fit: cover; }
  footer{
          background: darkolivegreen;

  }
main{
    text-align: center;
    background-color: darkolivegreen;
}
